@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;1,100&display=swap');

*{
    margin: 0;
    padding: 0;
    user-select: none;
    text-decoration: none;
}

html{
    overflow: hidden;
    
    font-family: Poppins;
    animation: fadeTransition 0.75s;
}

@keyframes fadeTransition{ /*Fade Transition**********************/
    from{
        opacity: 0;
        transform:rotateX(-10deg);
    }

    to{
        opacity: 1;
        transform:rotateX(0);
    }
}


body{
    background-color:#1b1c2a;
}


/***************************************************************/

/*INTRO/2.HTML -- BLOOPY*/
.bloopy_user{
    background-color: white;
}

.bloopy_user img{
    margin-right: 100%;
    padding-right: 50%;
    
    min-width: 100%;
    max-width: 100%;
    animation: jump 3s ease-in-out 0s infinite alternate;
}

/*TYPEWRITER***************************************************/
.bloopy_user .typewriter{
    padding-top: 5%;
    display: flex;
    justify-content: center;
}

.bloopy_user .typewriter h1 {
    color: black;
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    border-right: 0.01em solid #1b1c2a; /* The typwriter cursor */
    white-space: nowrap; /* Keeps the content on a single line */
    letter-spacing: .15em; /* Adjust as needed */
    animation: 
      typing 3.5s steps(30, end),
      blink-caret .5s step-end infinite;
  }
  
  /* The typing effect */
  @keyframes typing {
    from { width: 0 }
    to { width: 60% }
  }
  
  /* The typewriter cursor effect */
  @keyframes blink-caret {
    from, to { border-color: transparent }
    30% { border-color: #1b1c2a}
  }


/*FORM.HTML -- SECTION CONTACT**************************************/
section#contact h1{
    text-align: center;
    padding-top: 100px;
    font-size: 3rem;
    color:white;
    letter-spacing: 0.05rem;
    font-weight: lighter;
    padding-bottom:60px;

}

section#contact form{
    width:100%;
    height: 100%;
    margin-top: 20px;
    
}

section#contact form input,button{
    left:0;
    bottom:0;
    margin-left: 35%;
    margin-bottom: 1.50%;
    width:25%;
    display: block;
    padding: 20px;
    resize: none;

    border-radius: 5px;

}

#buttonsubmit{
    left:0;
    margin-left: 36%;
    background-color: rgb(70, 174, 174);
    margin-top: 50px;
    margin-bottom:2%;

    font-size: small;
    color: white;

    border: 0;
    
    
    
}

#buttonsubmit:hover{
    color:black;
    cursor: pointer;
}

/***************************************************************/

/*MAIN.HTML ***************************************************/
.container{
    min-width: 100%;
    max-width: 100%;

    
}

.bg img{
    position:fixed; /*To stay the bg*/

    min-width: 100%;
    max-width: 100%;

    margin-left: 8%;

}

.navbar{    
    position:fixed;
    border-top: 0.05rem;
    border-top-color: rgb(70, 174, 174);
    border-top-style: solid;
    display: flex;
    width: 5%;
    height: 100%;


    background: #1b1c2a;
    box-shadow: 0rem 0rem 1rem 1rem rgb(70, 174, 174);
    opacity: 10;   
 
    
}

  
.navbar .text {
    position: fixed;
    width: 8%;

    background-color: rgb(70, 174, 174);
    color: #fff;
    text-align: center;
    border-radius: 6px;
    font-weight: bolder;
    font-size: smaller;

    
  }
  



.navbar ul li{
    padding-top: 50px;
    padding-bottom: 55px;

}


.navbar ul li span img {
    
    max-width: 60%;
    min-width: 60%;
    
    margin-left: 20%;
    margin-top: 10px;
    margin-right: 20%;
    cursor: pointer;

 
}



.navbar ul li span img:hover{
    max-width: 65%;
    min-width: 65%;
    
    
    background: #1b1c2a;
    border-radius: 10px;
}



.laptop{
    position:fixed;
    margin-top: 28%;
    margin-left: 24%;

    width: 13%;
    height: 13%;

    border-radius: 20px;

    /* background: black; */
    cursor: pointer;
}

.projector{
    position:fixed;
    margin-top: 32%;
    margin-left: 38%;

    width: 6.5%;
    height: 5%;

    border-radius: 20px;
    
    /* background: pink; */
    cursor: pointer;
}


.cat{
    position:fixed;
    margin-top: 37%;
    margin-left: 66%;

    width: 2%;
    height: 5%;

    border-radius: 20px;

    /* background: orange; */
    cursor: pointer;
}

.clock{
    position:fixed;
    margin-top: 19%;
    margin-left: 67%;

    width: 4%;
    height: 5%;

    border-radius: 50px;


    /* background: yellowgreen; */
    cursor: pointer;
}


 .laptop, .projector, .cat, .clock, span{
    color:transparent;
    text-align: center;

    font-weight: bold;
}

 .laptop, .projector, .cat, .clock, span:hover{
    
    color:rgb(255, 255, 255);
}

/*MODAL*************************************************/

#laptop_pop,#projector_pop,#cat_pop,#clock_pop, 
#bloopy_pop, #skills_pop, #project_pop, #archived_pop, #info_pop{
    color: white;
    text-align: center;
   
}

.overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    transition: opacity 500ms;
    visibility: hidden;
    opacity: 0;
  }

  .overlay:target {
    visibility: visible;
    opacity: 1;
  }
  
  .popup { /*THE_POP_B0X_*/
            
    margin: 10% 33%;
    padding: 20px;
    background: #fff;
    border-radius: 5px;
    
    position: fixed;
    transition: all 5s ease-in-out;
    
    
    width: 30%;
  }
  
  .popup h2 {
    margin-top: 0;
    color: #333;
  }

  .popup .close {
    position: absolute;
    top: 20px;
    right: 30px;
    transition: all 200ms;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    color: #333;
  }
  .popup .close:hover {
    color:rgb(70, 174, 174);
  }

  .popup .content { /*POP_BOX_CONTENT*/
    padding-top: 10%;
    color: black;
    font-weight: bold;

    max-height: 30%;
    overflow: auto;
  }

  .popup .content img{
    min-width: 10%;
    max-width: 10%;
  }

  .popup .content img:hover{
    min-width: 11%;
    max-width: 11%;
  }



  .popup .content a:hover{
   color:aqua;
  }

  /*PROJECT.HTML********************************/
  .projects{
    color: white;
  }

  .projects h1{
    margin-top: 20px;
    text-align: center;
    padding-bottom: 50px;
  }

  .projects table{
    width: 100%;
    height: 100%;

    text-align: center;
    color: white;
  }


  .projects td{
    border: 1px;
    border-color: white;
    border-style: solid;
    
}



  /*RESPONSIVENESS*****************************/

  @media screen and (max-width: 700px){
    .popup{
      width: 40%;
      height: 50%;
    }

    .navbar .text{
        width: 20%;
      }

    .laptop, .projector, .cat, .clock, span:hover{
        font-size: 80%;
    }

    .bg{
        min-width: fit-content;
        max-width: fit-content;
    }

  }