*{
    margin: 0;
    padding: 0;
    user-select: none;
}

html{
    overflow-x: hidden;
    overflow-y: hidden;
}

body{
    background-color:#1b1c2a;
    background-image: url("images/Bloopy\ bg.png");
    background-size:cover;
    background-attachment: fixed;
    z-index: 0;
}

.bloopy{
    margin-top: 10%;
   
}

.bloopy img{
    margin-left:30%;
    padding-left: 5%;
    
    min-width: 100%;
    max-width: 100%;
    animation: jump 3s ease-in-out 0s infinite alternate;
}

.bloopy img:hover{

    margin-left:30%;
    padding-left: 5%;
    

    min-width: 100%;
    max-width: 100%;
}

.laptop{
    width: 20%;
    height: 20%;
    background-color: aliceblue;

    margin-top: 10%;
    margin-left:30%;
}

body audio{
    color: white;
    z-index: 1;
}